<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cp.im.infrastructure.mapper.CustomerMapper">

  <!-- 新增聊天记录 -->
  <insert id="insertMessage" parameterType="com.cp.im.domain.entity.ChatCustomer"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO chat_customer (
       user_id,
       target_id,
       message,
       message_id,
       create_time
    ) VALUES (
       #{userId,jdbcType=BIGINT},
       #{targetId,jdbcType=BIGINT},
       #{message,jdbcType=VARCHAR},
       #{messageId,jdbcType=VARCHAR},
       #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>

</mapper>